<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/layout}">

<head></head>

<body>
<div class="container mt-4" layout:fragment="content">
    <h3 class="display-6">लेखक प्रोफाइल सिर्जना गर्नुहोस्</h3>

    <form th:action="@{/author/create}" th:object="${author}" method="post">
        <div class="mb-3">
            <label for="description" class="form-label visually-hidden">आफ्नो बारेमा</label>
            <p th:if="${#fields.hasErrors('description')}" class="text-danger">कम्तिमा 64 र अधिकतम 2048 अक्षर लामो हुनुपर्छ</p>
            <textarea class="form-control" id="description" th:field="*{description}" rows="3" placeholder="आफ्नो बारेमा"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">सिर्जना गर्नुहोस्</button>
        </div>
    </form>
</div>

</body>

</html>