<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head></head>

<body>
<div class="container mt-4" layout:fragment="content">
    <div class="card">
        <div class="card-header">
            प्रोफाइल
        </div>

        <div class="d-flex card-body" th:object="${author}">
<!--            <div class=" me-4">-->
<!--                <img src="/assets/profile.jpg" class="w-100 rounded" alt="...">-->
<!--            </div>-->
            <div>
                <div>
                    <h5 class="card-title" th:text="*{name}">प्रकाश भट्टराई <span
                            class="text-secondary d-block fs-6 "><small th:text="*{email}">lightvelocity999@gmail.com</small></span>
                    </h5>

                </div>

                <p class="card-text" style="max-width: 560px;" th:text="*{description}">दुई दशकदेखि पत्रकारिता गरिरहेका कार्कीले श्रम तथा
                    आप्रवासन मामिलामा दख्खल राख्छन् । उनले खाडी क्षेत्र तथा मलेसियामा कार्यरत आप्रवासी श्रमिकमाथि
                    रिपोटिङ गर्दै आएका छन् ।</p>
            </div>

        </div>
    </div>

    <div class="mt-5 ">
        <div>
            <h5 class="fw-bold ">लेखहरु</h5>
        </div>

        <div class="row">
            <div class="mt-4 col" th:each="article: ${articles}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text fs-5"><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}">शान्ति सम्झौताका १८ वर्ष : पीडितलाई
                            धोका</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <nav aria-label="article pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/author/{authorId}(authorId=${author.id}, page=${articles.previousOrFirstPageable().getPageNumber()})}">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/author/{authorId}(authorId=${author.id}, page=${articles.nextOrLastPageable().getPageNumber()})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>

</body>

</html>