<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head></head>

<body>
<div class="container mt-4" layout:fragment="content">
    <div class="card">
        <div class="card-header">
            प्रोफाइल
        </div>

        <div class="d-flex card-body" th:object="${author}">
<!--            <div class=" me-4">-->
<!--                <img src="/assets/profile.jpg" class="w-100 rounded" alt="...">-->
<!--            </div>-->
            <div>
                <div>
                    <h5 class="card-title" th:text="*{name}">प्रकाश भट्टराई <span
                            class="text-secondary d-block fs-6 "><small th:text="*{email}">lightvelocity999@gmail.com</small></span>
                    </h5>

                </div>

                <p class="card-text" style="max-width: 560px;" th:text="*{description}">दुई दशकदेखि पत्रकारिता गरिरहेका कार्कीले श्रम तथा
                    आप्रवासन मामिलामा दख्खल राख्छन् । उनले खाडी क्षेत्र तथा मलेसियामा कार्यरत आप्रवासी श्रमिकमाथि
                    रिपोटिङ गर्दै आएका छन् ।</p>
            </div>

        </div>
    </div>

    <div class="mt-5 ">
        <div>
            <h5 class="fw-bold ">लेखहरु</h5>
        </div>

        <div class="row">
            <div class="col mt-2" th:each="article : ${articles}">
                <div class="card col-auto" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-body-emphasis" th:href="@{/article/{id}(id=${article.id})}"
                               th:text="${article.title}"></a>
                        </h5>
                        <p>
                            <svg class="bi bi-vector-pen" fill="currentColor" height="16" viewBox="0 0 16 16"
                                 width="16"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"
                                      fill-rule="evenodd"/>
                                <path d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z" fill-rule="evenodd"/>
                            </svg>
                            <span class="ms-2" th:text="${article.author.name}"></span>
                        </p>
                        <p th:text="${article.getShortContent()}"></p>
                        <div>
                            <span class="mt-2 badge rounded-pill text-bg-success me-4" th:each="tag: ${article.tags}"
                                  th:text="${tag.name}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <nav aria-label="article pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/author/{authorId}(authorId=${author.id}, page=${articles.previousOrFirstPageable().getPageNumber()})}">अघिल्लो</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/author/{authorId}(authorId=${author.id}, page=${articles.nextOrLastPageable().getPageNumber()})}">अर्को</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>

</body>

</html>