<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    />
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
</head>
<body>

<div class="container mt-4" layout:fragment="content">
    <h3 class="display-6">लेख रचना गर्नुहोस्</h3>
    <form id="article-form" th:action="@{/article}" th:object="${article}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="title" class="form-label visually-hidden">शीर्षक</label>
            <p th:if="${#fields.hasErrors('title')}" class="text-danger">शीर्षक कम्तिमा 4 अक्षर लामो हुनुपर्छ</p>
            <input class="form-control" th:field="*{title}" placeholder="शीर्षक">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label visually-hidden">सामग्री</label>
            <p th:if="${#fields.hasErrors('content')}" class="text-danger">सामग्री कम्तिमा 64 र अधिकतम 2048 अक्षर लामो हुनुपर्छ</p>
            <input type="hidden" th:field="*{content}">
            <textarea id="content-editor" aria-label="input"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">प्रकाशित गर्नुहोस्</button>
        </div>
    </form>

    <div class="modal" id="image-upload-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">छवि अपलोड गर्नुहोस्</h5>
                    <button
                            aria-label="Close"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            type="button"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="imageInput">छवि चयन गर्नुहोस्</label>
                        <div class="alert alert-danger" id="upload-error" role="alert">
                            अपलोड गर्न सकिएन! फेरि प्रयास गर्नुहोस।
                        </div>

                        <div id="url-container">
                            <div
                                    class="d-flex justify-content-between align-items-center alert alert-secondary"
                            >
                                <p class="font-monospace text-truncate me-4" id="image-url">

                                </p>
                                <button
                                        class="btn btn-outline-secondary"
                                        data-clipboard-target="#image-url"
                                        id="image-url-copy-button"
                                >
                                    <svg class="bi bi-clipboard" fill="currentColor" height="16" viewBox="0 0 16 16"
                                         width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <form id="image-form">
                            <input id="csrf" name="_csrf" th:value="${_csrf.getToken()}" type="hidden"/>
                            <input
                                    accept="image/*"
                                    class="form-control"
                                    id="imageInput"
                                    type="file"
                            />
                        </form>
                    </div>
                    <div>
                        <img
                                alt="Preview"
                                class="img-fluid border"
                                id="imagePreview"
                                src=""
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            type="button"
                    >
                        रद्द गर्नुहोस्
                    </button>
                    <button class="btn btn-primary" id="upload-button" type="button">
                        अपलोड गर्नुहोस्
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var simplemde = new SimpleMDE({
            toolbar: [
                "bold",
                "italic",
                "strikethrough",
                "|",
                "quote",
                "|",
                "ordered-list",
                "unordered-list",
                "|",
                "heading-2",
                "heading-3",
                "|",
                "image",
                "|",
                "preview",
                "|",

                {
                    name: "upload",
                    action: function customFunction(editor) {
                        const modal = new bootstrap.Modal("#image-upload-modal");
                        modal.show();
                    },
                    className: "fa fa-upload",
                    title: "Upload Image",
                },
            ],

            element: document.getElementById("content-editor"),
        });

        const articleForm = document.getElementById("article-form");

        articleForm.addEventListener("submit", function (event) {
            event.preventDefault();
            const content = marked.parse(simplemde.value());

            if(content.length < 64 || content.length > 2048) {
                alert("सामग्री कम्तिमा 64 र बढीमा 2048 अक्षर लामो हुनुपर्छ")
                return;
            }

            const contentInput = document.getElementById("content");
            contentInput.value = content;

            event.target.submit();
        });

    </script>
    <script>
        $(document).ready(function () {
            $("#imagePreview").hide();
            $("#upload-error").hide();
            $("#url-container").hide();

            $("#upload-button").prop("disabled", true);

            // Handle Image Input Change
            $("#imageInput").change(function () {
                var file = this.files[0];
                if (file && file.type.match("image/.*")) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#imagePreview").attr("src", e.target.result).show();
                        $("#upload-button").prop("disabled", false);
                    };
                    reader.readAsDataURL(file);
                } else {
                    $("#imagePreview").removeAttr("src").hide();
                    $("#upload-button").prop("disabled", true);
                }
            });

            // Handle Image Upload
            $("#upload-button").click((event) => {
                $("#upload-button").prop("disabled", true);
                $("#upload-error").hide();
                $("#url-container").hide();

                const image = $("#imageInput")[0].files[0];

                if (!image) {
                    $("#upload-button").prop("disabled", true);
                    return;
                }

                uploadImage(image);

                $("#upload-button").prop("disabled", false);
            });
        });

        function uploadImage(image) {
            const imageInfo = {
                name: image.name,
                size: image.size,
                type: image.type,
                _csrf: $("#csrf").val()
            };

            $.ajax({
                url: "http://localhost:8080/upload/image",
                type: "POST",
                data: $.param(imageInfo),
                processData: false,
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(
                        "Authorization",
                        "Basic " + btoa("mrbpurnachandra:rocketracoon")
                    );
                },
                success: function (response) {
                    var fileName = response.name;
                    var bucket = response.bucket;
                    var signedURL = response.signedURL;

                    $.ajax({
                        url: signedURL,
                        type: "PUT",
                        data: new Blob([image]),
                        contentType: image.type,
                        accepts: "application/xml",
                        processData: false,
                        success: function (uploadResponse) {
                            const url = `https://storage.googleapis.com/${bucket}/${fileName}`;
                            $("#image-url").text(url);

                            $("#url-container").show();

                            $("#image-form")[0].reset();
                            $("#imagePreview").hide();
                            $("#upload-button").prop("disabled", true);
                        },
                        error: function (xhr, status, error) {
                            $("#upload-error").show();
                        },
                    });
                },
                error: function (xhr, status, error) {
                    $("#upload-error").show();
                },
            });
        }
    </script>

    <script>
        new ClipboardJS("#image-url-copy-button");
    </script>
</div>

</body>
</html>