<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/layout}">

<head>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4" layout:fragment="content">
    <h3 class="display-6">लेख रचना गर्नुहोस्</h3>
    <form id="article-form" th:action="@{/article}" th:object="${article}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="title" class="form-label visually-hidden">शीर्षक</label>
            <p th:if="${#fields.hasErrors('title')}" class="text-danger">शीर्षक कम्तिमा 4 अक्षर लामो हुनुपर्छ</p>
            <input class="form-control" th:field="*{title}" placeholder="शीर्षक">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label visually-hidden">सामग्री</label>
            <p th:if="${#fields.hasErrors('content')}" class="text-danger">सामग्री कम्तिमा 64 र अधिकतम 2048 अक्षर लामो हुनुपर्छ</p>
            <input type="hidden" th:field="*{content}">
            <div id="editor" aria-label="input"></div>

        </div>

        <div>
            <button type="submit" class="btn btn-primary">प्रकाशित गर्नुहोस्</button>
        </div>
    </form>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Initialize Quill editor -->
    <script>
        var quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote'],

                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'header': [3, 4, false] }],
                ]

            },
            theme: 'snow',
        });

        const articleForm = document.getElementById("article-form");

        articleForm.addEventListener("submit", function (event) {
            event.preventDefault();

            if(quill.getLength() < 64 || quill.getLength() > 2048) {

                alert("सामग्री कम्तिमा 64 र बढीमा 2048 अक्षर लामो हुनुपर्छ")
                return;
            }

            const contentInput = document.getElementById("content");
            contentInput.value = quill.root.innerHTML;

            event.target.submit();
        });

    </script>
</div>

</body>
</html>