<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>लेखहरू खोज्नुहोस्</title>
</head>
<body>

<div class="container mt-4" layout:fragment="content" >
    <div class="mt-4">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button aria-controls="nav-search-by-name" class="nav-link active" data-bs-target="#nav-search-by-name"
                        data-bs-toggle="tab" id="nav-search-by-name-tab" role="tab"
                        type="button">नाम द्वारा
                </button>
                <button aria-controls="nav-search-by-tag" class="nav-link" data-bs-target="#nav-search-by-tag"
                        data-bs-toggle="tab" id="nav-search-by-tag-tab" role="tab" type="button">
                    ट्याग द्वारा
                </button>
            </div>
        </nav>
        <div class="tab-content mt-4" id="nav-tabContent">
            <div aria-labelledby="nav-search-by-name-tab" class="tab-pane fade show active" id="nav-search-by-name"
                 role="tabpanel" tabindex="0">
                <form action="/article/search" class="d-flex" role="search">
                    <input
                            aria-label="search articles by name"
                            class="form-control form-control-lg me-2"
                            name="name"
                            placeholder="नाम द्वारा खोज्नुहोस्"
                            th:value="${param.name != null ? param.name : ''}"
                            type="text"
                    />
                    <button class="btn btn-primary btn-lg" type="submit">
                        लेख खोज्नुहोस्
                    </button>
                </form>
            </div>
            <div aria-labelledby="nav-search-by-tag-tab" class="tab-pane fade" id="nav-search-by-tag" role="tabpanel"
                 tabindex="0">
                <form action="/article/search" class="d-flex" role="search">
                    <input
                            aria-label="search articles by tag"
                            class="form-control form-control-lg me-2"
                            name="tag"
                            placeholder="ट्याग द्वारा खोज्नुहोस्"
                            th:value="${param.name != null ? param.name : ''}"
                            type="text"
                    />
                    <button class="btn btn-primary btn-lg" type="submit">
                        लेख खोज्नुहोस्
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col mt-2" th:each="article : ${articles}">
            <div class="card col-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-body-emphasis" th:href="@{/article/{id}(id=${article.id})}"
                           th:text="${article.title}"></a>
                    </h5>
                    <p>
                        <svg class="bi bi-vector-pen" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"
                                  fill-rule="evenodd"/>
                            <path d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z" fill-rule="evenodd"/>
                        </svg>
                        <span class="ms-2" th:text="${article.author.name}"></span>
                    </p>
                    <p th:text="${article.getShortContent()}"></p>
                    <div>
                        <a th:each="tag: ${article.tags}" th:href="@{/article/search(tag=${tag.name})}">
                            <span class="mt-2 badge rounded-pill text-bg-success me-4"
                                  th:text="${tag.name}">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    </div>

        <div class="container mt-4" th:if="${ param.name == null && param.tag == null }">
        <p>तपाईंले कुनै लेख खोज्नु भएको छैन</p>
    </div>

    <div class="container mt-4" th:if="${param.name != null and #lists.isEmpty(articles) }">
        <p>मेल खाने कुनै लेख फेला परेन</p>
    </div>
</div>
</body>
</html>