<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/layout}">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/js/comment.js}"></script>
</head>
<body>

<div class="container mt-4" layout:fragment="content" th:object="${article}">
    <h3 class="display-6" th:text="*{title}">शान्ति सम्झौताका १८ वर्ष : पीडितलाई धोका</h3>
    <div class="flex">
        <span class="text-secondary" th:text="${formattedDate}">मंसिर ५, २०८०</span>
        <span class="mx-2"><a th:href="@{/author/{id}(id=${article.author.id})}" th:text="*{author.name}"></a></span>
    </div>

    <!--    <div class="mt-4 w-100 bg-black ">-->
    <!--        <img src="/assets/thumb.jpeg" alt="Thumbnail" class="roundecd w-100 h-100 object-fit-cover">-->
    <!--    </div>-->

    <div class="mt-4">
        <div class="fs-5" th:utext="*{content}">
            तत्कालीन विद्रोही माओवादी र सात दलबीच २०६३ मंसिर ५ मा १२ बुँदे सम्झौता गर्दै देशमा न्याय, परिवर्तन र
            शान्ति ल्याउने वाचा गरेका थिए । बृहत् शान्ति सम्झौता भनेर चिनिने त्यस ऐतिहासिक दिनमा दलहरूले गरेका मुख्य
            तीन प्रतिबद्धता थिए– सेना समायोजन, राज्यको पुनःसंरचनासहित संविधानको निर्माण र संक्रमणकालीन न्यायको
            टुंगो ।
            शान्ति सम्झौताका पक्षधरहरूले नै संक्रमणकालीन न्यायको बाटोलाई रोकेकाले यो अवस्था आएको विज्ञहरूको टिप्पणी
            रहँदै आएको छ । ‘पीडितको न्याय पाउने अधिकार शान्ति सम्झौताका पक्षधरहरूले नै घोर उल्लंघन गरे,’
            पूर्वप्रधानन्यायाधीश कल्याण श्रेष्ठ भन्छन्, ‘सम्झौताका पक्षधरहरूले यसलाई सत्तारोहणको छोटो बाटोका रूपमा
            प्रयोग गरे जसले गर्दा पीडितमाथि ठूलो धोका भएको छ ।’ सत्तामा पुग्नका लागि दलहरूले यसलाई छलकपटको
            बिन्दुसम्म दुरुपयोग गर्नाले संक्रमणकालीन न्याय जस्ताको तस्तै सुरुवाती अवस्थामा रहेको उनको विश्लेषण छ ।

            सत्य निरूपण तथा मेलमिलाप आयोगको गठन गरेर अन्तरिम संविधान जारी भएको दुई वर्षभित्र द्वन्द्वका समयमा भएका
            मानवअधिकार उल्लंघनका घटना टुंगो लगाउने शान्ति सम्झौतामा उल्लेख भए पनि त्यसको १८ वर्ष लागिसक्दासमेत
            यसबारे कुनै काम हुन सकेको छैन । शान्ति सम्झौताको ८ वर्षपछि २०७१ मा जारी संक्रमणकालीन न्यायसम्बन्धी ऐनमा
            गम्भीर मानवअधिकार उल्लंघनका दोषीलाई आम माफी दिने प्रावधान राखेपछि विवादमा परेको थियो जसलाई सर्वोच्च
            अदालतले बदर गर्दै त्यसमा संशोधन गर्न आदेशसमेत दिएको थियो ।

            तर, सरकारले त्यसलाई अटेर गर्दै पुरानै ऐनका साथ सत्य निरूपण तथा मेलमिलाप आयोग र बेपत्ता पारिएका व्यक्तिको
            छानबिन आयोग गठन गरेको थियो । दुई वर्षका लागि गठन गर्ने भनिएका यी दुवै आयोगले चार–चार वर्ष बितिसक्दा पनि
            कुनै काम गर्न नसकेपछि सरकारले त्यसलाई खारेज गर्दै नयाँ पदाधिकारीका साथ दुवै आयोग गठन गरेको थियो । त्यसले
            पनि दुई वर्ष कुनै काम गर्न सकेन । हाल दुवै आयोग रिक्त छन् भने सर्वोच्च अदालतको आदेशअनुसार सरकारले संशोधन
            गर्नुपर्ने विधेयक संसद्मा लामो समयदेखि विचाराधीन छन् । मानवअधिकार उल्लंघनका घटनालाई सामान्य र गम्भीर भनी
            वर्गीकरण गरी घुमाउरो बाटोबाट पीडकलाई पुनः उन्मुक्ति दिन लागिएको भन्दै विधेयकका अनेकन प्रावधानमा विरोध
            पनि हुँदै आएको छ ।
        </div>
    </div>

    <div class="mt-5">
        <h6 class="fs-4">टिप्पणीहरू</h6>
        <div class="mt-4" sec:authorize="isAuthenticated()">
            <p class="text-danger visually-hidden" id="content-error">केहि गलत भयो</p>
            <form class="row" method="post" th:action="@{/article/{articleId}/comment(articleId=*{article.id})}"
                  th:object="${comment}" id="commentForm">
                <input type="hidden" th:field="*{article.id}"/>
                <div class="col-auto">
                    <label for="content" class="visually-hidden">टिप्पणी सामग्री</label>
                    <textarea class="form-control" id="content" th:field="*{content}" placeholder="टिप्पणी" rows="4"
                              cols="60"></textarea>
                    <p class="text-body-secondary"><small>टिप्पणी सामग्र कम्तिमा 4 अक्षर लामो
                        हुनुपर्छ</small></p>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">टिप्पणी पोस्ट गर्नुहोस्</button>
                </div>
            </form>
        </div>
        <div class="mt-5" sec:authorize="!isAuthenticated()">
            <a th:href="@{/oauth2/authorization/google}">कृपया टिप्पणी पोस्ट गर्न साइन इन गर्नुहोस्</a>
        </div>
        <div class="mt-5">
            <div th:attr="data-id=${article.id}" id="comment-container">

            </div>
        </div>
    </div>
</div>

</body>
</html>