<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/layout}">

<head>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/comment.js}"></script>
    <style type="text/css">
        .article-container img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container mt-4" layout:fragment="content" th:object="${article}">
    <h3 class="display-6 fw-medium" th:text="*{title}"></h3>

    <div class="flex">
        <span class="text-secondary" th:text="${formattedDate}"></span>
        <a class="ms-4 text-body link-underline link-underline-opacity-0"
           th:href="@{/author/{id}(id=${article.author.id})}">
            <svg class="bi bi-vector-pen" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"
                      fill-rule="evenodd"/>
                <path d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z" fill-rule="evenodd"/>
            </svg>
            <span class="ms-2 text-body-emphasis" th:text="*{author.name}"></span>
        </a>
    </div>

    <div class="d-flex flex-wrap align-items-center mt-4" id="tag-list">
        <a th:each="tag: ${article.tags}" th:href="@{/article/search(tag=${tag.name})}">
            <span class="mt-2 badge rounded-pill text-bg-success me-4"
                  th:text="${tag.name}">
            </span>
        </a>
    </div>

    <button
            class="mt-2 btn btn-sm btn-outline-primary"
            th:if="${#authentication.principal.email == article.author.email}"
            data-bs-target="#add-tag-modal" data-bs-toggle="modal" sec:authorize="isAuthenticated()"
            type="button">
        ट्याग थप्नुहोस्
    </button>

    <div class="modal fade" id="add-tag-modal" tabindex="-1" role="dialog" aria-labelledby="add-tag-modal-label"
         aria-hidden="true"
         sec:authorize="isAuthenticated()"
         th:if="${#authentication.principal.email == article.author.email}"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-tag-modal-label">ट्याग थप्नुहोस्</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>

                <form method="post" id="add-tag-form" th:attr="data-id=${article.id}">
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" id="add-tag-alert">
                            केहि गलत भयो
                        </div>
                        <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}"/>

                        <label for="tag-name" class="form-label">ट्याग</label>
                        <input type="text" id="name" name="name" class="form-control" aria-describedby="tag-name-help">
                        <div id="tag-name-help" class="form-text">
                            ट्याग कम्तिमा २ वर्ण र बढीमा २४ वर्णको हुनुपर्छ
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">थप्नुहोस्</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="fs-5 article-container" th:utext="*{content}"></div>
    </div>

    <div class="mt-5">
        <div class="d-flex align-items-center">
            <h6 class="fs-4">टिप्पणीहरू</h6>
            <button class="ms-2 btn"
                    data-bs-target="#comment-statistics-modal"
                    data-bs-toggle="modal"
                    sec:authorize="isAuthenticated()"
                    th:attr="onclick=${'getStatistics(' + article.id + ')'}"
                    th:if="${#authentication.principal.email == article.author.email}">
                <svg class="bi bi-graph-up" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"
                          fill-rule="evenodd"/>
                </svg>
        </div>

        <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.email == article.author.email}">
            <div aria-hidden="true" aria-labelledby="comment-statistics-modal-label" class="modal fade" id="comment-statistics-modal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="comment-statistics-modal-label">टिप्पणी तथ्याङ्क</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                    type="button">
                            </button>
                        </div>
                        <div class="modal-body" id="comment-statistics-container">
                            <p>टिप्पणीको कुल संख्या: <span id="totalComments"></span></p>
                            <canvas id="commentsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 border p-4 rounded" sec:authorize="isAuthenticated()">
            <p class="text-danger visually-hidden" id="content-error">केहि गलत भयो</p>
            <form class="row" method="post" th:action="@{/article/{articleId}/comment(articleId=*{article.id})}"
                  th:object="${comment}" id="commentForm">
                <input type="hidden" th:field="*{article.id}"/>
                <div>
                    <label for="content" class="visually-hidden">टिप्पणी सामग्री</label>
                    <textarea class="form-control" id="content" placeholder="टिप्पणी" rows="4"
                              style="resize: none; " th:field="*{content}"
                              cols="60"></textarea>
                    <p class="text-body-secondary"><small>टिप्पणी सामग्र कम्तिमा 4 अक्षर लामो
                        हुनुपर्छ</small></p>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary mb-3">टिप्पणी पोस्ट गर्नुहोस्</button>
                </div>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a class="flex align-items-center btn btn-outline-primary" sec:authorize="!isAuthenticated()"
               th:href="@{/oauth2/authorization/google}">
                <svg class="bi bi-google me-2" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                </svg>
                गुगलसँग साइन इन गर्नुहोस्</a>
        </div>
        <div class="mt-4">
            <div th:attr="data-id=${article.id}" id="comment-container">

            </div>
        </div>
    </div>
    <script sec:authorize="isAuthenticated()" th:src="@{/js/chart.js}"
            th:if="${#authentication.principal.email == article.author.email}"></script>
    <script>
        function getStatistics(id) {
            $.ajax({
                url: `http://localhost:8080/article/${id}/statistics`,
                type: 'GET',
                success: function (response) {
                    displayStatistics(response);
                },
                error: function (xhr, status, error) {
                    $("#comment-statistics-container").innerHTML = "Something went wrong";
                }
            });
        }

        function displayStatistics(statistics) {
            const totalComments = Object.keys(statistics).map(item => statistics[item]).reduce((a, b) => a + b);

            // Populate modal content
            document.getElementById("totalComments").innerText = totalComments;

            // Generate pie chart
            const canvas = document.getElementById("commentsChart")
            const ctx = canvas.getContext("2d");

            // Check if there's an existing chart instance and destroy it
            if (window.chart) {
                window.chart.destroy();
            }

            window.chart = new Chart(ctx, {
                type: "pie",
                data: {
                    labels: Object.keys(statistics),
                    datasets: [
                        {
                            data: Object.values(statistics),
                            backgroundColor: [
                                "#ff6384",
                                "#36a2eb",
                                "#ffce56",
                                "#4bc0c0",
                                "#9966ff",
                                "#ff7f50",
                            ],
                        },
                    ],
                },
                options: {
                    responsive: true,
                    legend: {
                        position: "bottom",
                    },
                },
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#add-tag-alert").hide();

            $("#add-tag-form").submit(function (event) {
                event.preventDefault();
                $("#add-tag-alert").hide();

                const name = $('#name').val();

                if (name.length < 2 || name.length > 24) {
                    return;
                }

                const articleId = this.getAttribute("data-id");

                $.ajax({
                    url: `http://localhost:8080/article/${articleId}/tag`,
                    type: "POST",
                    data: $(this).serialize(),
                    success: function(response) {
                        $("#tag-list").append(`<span class="mt-2 badge rounded-pill text-bg-success">${name}</span>`)
                        $("#add-tag-modal").modal("hide");
                    },
                    error: function(xhr, status, error) {
                        $("#add-tag-alert").show();
                    }
                });
            });
        });
    </script>
</div>

</body>
</html>