<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{layout/layout}">
<head></head>
<body>
<div class="container mt-4" layout:fragment="content">
    <h1 class="display-4">खेलकुद सम्बन्धि सम्पूर्ण जानकारी</h1>

    <div class="row mt-4">
        <div class="col mt-2" th:each="article : ${articles}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text fs-5"><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>