<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head></head>

<body>
<div layout:fragment="content">
    <div class="mt-4 row">
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    प्रोफाइल
                </div>

                <div class="card-body">
                    <div>
                        <div>
                            <h5 class="card-title"><span th:unless="${author}"
                                                         th:text="${#authentication.principal.attributes.name}"></span><span th:if="${author}"
                                                                                                                             th:text="${author.name}"></span><span
                                    class="text-secondary d-block fs-6 "><small
                                    th:text="${#authentication.principal.attributes.email}"></small></span>
                            </h5>

                        </div>

                        <p class="card-text mt-4" style="max-width: 560px;" th:if="${author}" th:text="${author.description}">दुई दशकदेखि पत्रकारिता गरिरहेका कार्कीले श्रम तथा
                            आप्रवासन मामिलामा दख्खल राख्छन् । उनले खाडी क्षेत्र तथा मलेसियामा कार्यरत आप्रवासी
                            श्रमिकमाथि
                            रिपोटिङ गर्दै आएका छन् ।</p>
                        <div class="mt-2">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-danger ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                        <path fill-rule="evenodd"
                                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                    साइन आउट गर्नुहोस्
                                </button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-7">
            <div>
                <h5 class="fw-bold ">तपाईका लेखहरु</h5>
            </div>

            <div class="mt-4" th:unless="${author}">
                <a th:href="@{/author/create}" class="btn btn-primary">लेखक प्रोफाइल सिर्जना गर्नुहोस्</a>
            </div>

            <div class="my-3 d-flex justify-content-end" th:if="${author}">
                <a href="/article/create" class="btn btn-primary ">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                        </span>
                    लेख सृजना गर्नुहोस्
                </a>
            </div>

            <table class="table table-bordered table-striped" th:if="${author != null && articles != null && !articles.isEmpty()}">
                <thead>
                <tr>
                    <th scope="col">शीर्षक</th>
                    <th scope="col">प्रकाशित मिति</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article: ${articles}">
                    <td><a th:href="@{/article/{id}(id=${article.id})}" th:text="${article.title}">शान्ति सम्झौताका १८
                        वर्ष :
                        पीडितलाई
                        धोका</a></td>
                    <td th:text="${article.getFormattedDate()}"></td>
                    <td><a th:href="@{/article/{id}/delete(id=${article.id})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a></td>
                </tr>
                </tbody>
            </table>

            <div class="row" th:if="${articles != null && #lists.size(articles) > 10}">
                <div class="mt-4">
                    <nav aria-label="article pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/profile(page=${articles.previousOrFirstPageable().getPageNumber()})}">अघिल्लो</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{/profile(page=${articles.nextOrLastPageable().getPageNumber()})}">अर्को</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

</html>